.objective-container {
    padding: 10px;
}

.objective-card {
    margin-top: 10px;
    min-width: 400px;
}

.example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}

.example-tab-icon {
    margin-right: 8px;
}

.full-width {
    width: 100%;
}

.right-allign {
    text-align: end;
}